html{
    display:relative;
}

body{
    background-image: url("./images/escheresque.png");
    background-repeat: repeat;
    background-color:#eee;
	color: #343a40;
}


.filled{
	background-color: rgba(255,255,255,.6);

}

#top{
    padding-top:1rem;
}

.icons {
	width: 50px;
}

h2{
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.card {
  position:relative;
  height: 7rem;
  width: 17rem;
  margin-bottom: 1rem;
  background-color: rgba(255,255,255,.8);

}

.btn-left{
  position:absolute;
  bottom:.5rem;
  left:.5rem;
}

.btn-right{
  position:absolute;
  bottom:.5rem;
  right:.5rem;
}

a{
  color: black;
  text-decoration: none;
}

a.repoLink{
  color: #17a2b8;
  text-decoration: none;
}

a.viewLink{
  color: #28a745;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;
  font-style: italic;
}
